.movielist {
    
    flex: .54;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
}

.movielist::-webkit-scrollbar {
    display: none;
  }

  .movielist {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

